spring:
  application:
    name: techtrek

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        defer-datasource-initialization: true
  sql:
    init:
      mode: never

openai:
  api-key: ${OPENAI_API_KEY}
  model: ${OPENAI_CHAT_MODEL}
  url: ${OPENAI_CHAT_URL}
  embedding-model: ${OPENAI_EMBEDDING_MODEL}
  embedding-url: ${OPENAI_EMBEDDING_URL}

custom:
  redis:
    prefix:
      interview: "interview:"
      basic: ":basic:"
      resume: ":resume:"
      tail: ":tail:"

server:
  servlet:
    encoding:
      force: true
      enabled: true
      charset: UTF-8