spring:
  application:
    name: techtrek

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}
      lettuce:
        pool:
          max-active: 20
          max-idle: 20
          min-idle: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        defer-datasource-initialization: true
  sql:
    init:
      mode: never

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:8080/auth/kakao/callback"
            client-authentication-method: post
            provider: kakao
            scope:
              - profile_nickname
              - account_email

          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:8080/auth/naver/callback"
            client-authentication-method: post
            provider: naver
            scope:
              - name
              - email

          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            client-name: Google
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:8080/auth/google/callback"
            scope:
              - profile
              - email

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
            user-name-attribute: sub

openai:
  api-key: ${OPENAI_API_KEY}
  model: ${OPENAI_CHAT_MODEL}
  url: ${OPENAI_CHAT_URL}
  embedding-model: ${OPENAI_EMBEDDING_MODEL}
  embedding-url: ${OPENAI_EMBEDDING_URL}

custom:
  redis:
    prefix:
      interview: "interview:"
      basic: ":basic:"
      resume: ":resume:"
      tail: ":tail:"

server:
  port: 8080
  servlet:
    encoding:
      force: true
      enabled: true
      charset: UTF-8
jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000 #(24시간)